@import '../../utils/colors';

.authorization {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: auto;
  padding: 25px 33px;
  border-radius: 27px;
  width: 537px;
  background-color: white;

  &__header {
    font-size: 33px;
    font-weight: 700;
    color: $main-color;
  }

  &__button {
    width: 475px;
    height: 32px;
    border: none;
    border-radius: 12px;
    background-color: $main-color;
    box-shadow: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
}